html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: white;
}

@font-face {
  font-family: "Kyobo Handwriting";
  src: url("/src/fonts/KyoboHandwriting2020pdy.ttf") format("truetype");
}

@font-face {
  font-family: "Jeju Myeongjo";
  src: url("/src/fonts/JejuMyeongjo.ttf") format("truetype");
}

@font-face {
  font-family: "Ssurround";
  src: url("/src/fonts/Cafe24Ssurround.ttf") format("truetype");
}

@font-face {
  font-family: "SsurroundAir";
  src: url("/src/fonts/Cafe24SsurroundAir.ttf") format("truetype");
}

.diagram-component {
  width: 100%;
  height: 90%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 10px;
}

.diagram-component::-webkit-scrollbar {
  width: 0;
}
